@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1659872368134') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-Left-:before {
  content: "\e744";
}

.icon-Right-:before {
  content: "\eb9e";
}

.icon-angle-right:before {
  content: "\e607";
}

.icon-angle-left:before {
  content: "\e608";
}

