<% if (page.comments && theme.duoshuo_shortname){ %>
  <section class="duoshuo-comments">

    <!-- UY BEGIN -->
    <div id="uyan_frame"></div>
    <script async type="text/javascript" src="http://v2.uyan.cc/code/uyan.js?uid=2144561">
    <!-- UY END -->
  </section>

  <script type="text/javascript">
	var uyan_config = {
	     'su':"<%= page.title %>" 
	};
	</script>
<% } %>

